body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  margin-top: 21%;
}

.questionOne{
  color:blue;
}

.questionTwo{
  color:red;
}

.correct{
  
  color: #73e27b;
}

.incorrect{
  color:#e21b1b;
}
body{
  background:url("https://images.wallpaperscraft.com/image/sea_horizon_dawn_133461_1920x1080.jpg") no-repeat center center fixed;
}

