body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.questionOne{
  color:blue;
}

.questionTwo{
  color:red;
}

.correct{
  
  background-color: green;
}

.incorrect{
  background-color:red;
}
